body {
	font-family: 'Orbitron', sans-serif;
	background-color: #F4F0EF;
	color: black;
}

.page-title {
	font-size: 5em;
	padding: 1.5em 0em 1em 0.75em;
}

.menu-bar {
	background-color: white;
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0%;
	top: 0%;
	text-align: right;
}

.menu-bar a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 2em 1em 1em 1em;
}

.menu-bar a:hover {
	border-bottom: 2px solid green;
}

.menu-bar input {
	border: none;
	border-bottom: 2px solid green;
	font-family: 'Orbitron', sans-serif;
	padding: 1.30em 2em 1em 2em;
	display: none;
	width: 10em;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr ;
	margin: 0 2em;
}

img.poster {
	width: 15em;
	margin-top: 2em;
}

.gallery h2 {
	font-size: 1.50em;
	text-align: right;
	margin: 2em 0;
	background-color: #F4F0EF;
	border-bottom: 2px solid green;
	border-right: 5px solid green;
	padding-right: 0.25em;
	margin-right: 0.5em;
}

.gallery p {
	padding: 0.25em;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	border-left: 2px solid green;
}

div.movie {
	padding: 1em 2em;
	border-bottom: 1px solid green;
}

.pagination li {
	border: none;
	background-color: #F4F0EF;
	color: black;
	font-size: 1.25em;
	border-right: 1px solid green;
	border-left: 1px solid green;
	padding: 0.5em 1em;
	font-family:  'Orbitron', sans-serif;
	display: inline;
	cursor: pointer;
}

.pagination li:hover {
	background-color: green;
	font-weight: 900;
	transition: 1s;
	border-radius: 1em;
	color: gold;
}

.pagination {
	margin: 2em auto;
	text-align: center;
	padding: 1em;
}


@media only screen and (min-width: 750px) {

	.poster {
		display: inline;
		vertical-align: bottom;
	}

	.page-title {
		font-size: 7em;
	}

	.video-banner video {
		width: 70%;
	}

	.menu-bar input {
		display: inline;
	}

	.menu-bar a {
		display: inline;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2px;
	}
}