body {
	font-family: 'Orbitron', sans-serif;
	color: white;
	background-image: url('/img/projector.png');
	background-attachment: fixed;
	background-size: cover;
}

.page-title {
	font-size: 5em;
	padding: 1.25em 0em 0.5em 0.75em;
}

.menu-bar {
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0%;
	top: 0%;
	text-align: right;
	background-color: black;
}

.menu-bar a {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 2em 1em 1em 1em;
}

.menu-bar a:hover {
	border-bottom: 2px solid green;
}

.menu-bar input {
	border: none;
	border-bottom: 2px solid green;
	font-family: 'Orbitron', sans-serif;
	padding: 1.30em 2em 1em 2em;
	width: 10em;
	background-color: black;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr ;
	margin: 0 2em;
}

img.poster {
	width: 15em;
	margin-top: 2em;
	cursor: pointer;
	box-shadow: 1px 1px 10px white;
}

.gallery h2 {
	font-size: 1.50em;
	text-align: right;
	margin: 2em 0;
	border-bottom: 2px solid green;
	border-right: 5px solid green;
	padding-right: 0.25em;
	margin-right: 0.5em;
	height: 3em;
	color: white;
}

.gallery p {
	padding: 0.25em;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	border-left: 2px solid green;
}

.overview {
	overflow: scroll;
	height: 10em;
}

div.movie {
	padding: 1em 2em;
	border-bottom: 1px solid green;
}

.pagination li {
	border: none;
	color: gold;
	font-size: 1.25em;
	border-right: 1px solid green;
	border-left: 1px solid green;
	padding: 0.5em 1em;
	font-family:  'Orbitron', sans-serif;
	display: inline;
	cursor: pointer;
}

.pagination li:hover {
	background-color: green;
	font-weight: 900;
	transition: 1s;
	border-radius: 1em;
	color: gold;
}

.pagination {
	margin: 2em auto;
	text-align: center;
	padding: 1em;
}

/***** single movie view styling *****/
.single-movie {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto 2em;
	padding: 1em;
	box-shadow: 1px 1px 10px black;
}

.single-movie h2 {
	font-size: 3em;
}

.single-movie p {
	margin: 1.5em auto;
	line-height: 1.5;
}

.single-movie img {
	box-shadow: 1px 1px 10px white;
	max-width: 250px;
	justify-self: center;
}

.single-movie button {
	background-color: green;
	color: gold;
	font-family: 'Orbitron', sans-serif;
	border: none;
	width: 10em;
	padding: 0.5em;
	opacity: 0.75;
	font-size: 0.75em;
	margin: 1em;
}

.single-movie button:hover {
	opacity: 10;
	transition: 1s;
	box-shadow: 1px 1px 10px green;
	color: green;
	background-color: gold;
	border-radius: 0.5em;
}


button:disabled {
	background-color: grey;
	color: #666;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.9);
	top: 0;
	left: 0;
	display: none;
}

.show {
	display: block;
}

iFrame {
	display: block;
	margin: 10em auto;
	padding: 1em;
}

@media only screen and (min-width: 750px) {

	.poster {
		display: inline;
		vertical-align: bottom;
	}

	.page-title {
		font-size: 7em;
	}

	.video-banner video {
		width: 70%;
	}

	.menu-bar input {
		display: inline;
	}

	.menu-bar a {
		display: inline;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2px;
	}

	.single-movie {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
	}

	.single-movie p {
		font-size: 1.25em;
		justify-self: center;
	}

	.single-movie h2 {
		font-size: 4em;
	}
}