body {
	font-family: 'Orbitron', sans-serif;
}

h2 {
	margin: 1em;
	font-size: 1.25em;
}

.menu-bar {
	background-color: white;
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0%;
	top: 0%;
	text-align: right;
	padding: 1em;
}

.menu-bar a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 2em 2em 1em 2em;
}

.menu-bar a:hover {
	border-bottom: 2px solid green;
}

.menu-bar input {
	border: none;
	border-bottom: 2px solid green;
	font-family: 'Orbitron', sans-serif;
	padding: 1.25em 2em 1em 2em;
	display: none;
}

.gallery {
	padding: 2em;
	margin-top: 5em;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2px;
}

@media only screen and (min-width: 730px) {
	.menu-bar input {
		display: inline;
	}

	.menu-bar a {
		display: inline;
	}

	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2px;
	}
	
}